<header>
  <ul class="nav nav-tabs justify-content-between mt-1">
    <div class="nav-c nav-left d-flex ">
      <li routerLinkActive="active">
        <a role="button" [routerLink]="['/messages']"  >Messages</a>
      </li>
      <li routerLinkActive="active" >
        <a role="button" [routerLink]="['/contacts']" >Contacts</a>
      </li>
      <li routerLinkActive="active" >
        <a role="button" [routerLink]="['/prefs']" >Preferences</a>
      </li>
    </div>
    <div class="nav-c nav-right d-flex align-items-center mr-3 pb-1">
      <li class="logged-in-user">
      </li>
      <li>
        <button class="btn btn-primary">
          <i class="fa fa-home"></i>
        </button>
        <button class="btn btn-primary ml-2">
          <i class="fa fa-envelope"></i>
           New Message
        </button>    
      </li>
    </div>
  </ul>
</header>
<router-outlet></router-outlet>
